/* Default classes for clearing float, also clearing the end without presentational markup*/
.clear { clear: both; }
.cLeft { clear: left; }
.cRight { clear: right; }
.cEnd {
    /* clear fix without presentational markup. Mostly use .cEnd class for the float container. But when lotta containers
    in one selector, add it directly here like #propertyEntry div */
    display: inline-table;
    /* Hides from IE-mac \*/
    height: 1%;
    display: block;
    /* End hide from IE-mac */
}
html>body .cEnd {
    height: auto;
}
.cEnd:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#jCarouselLiteDemo .carousel  {
    padding: 10px 0 0 0;
    margin: 0 0 20px 10px;
    position: relative;
}
#jCarouselLiteDemo .digg {
    position: absolute;
    left: 610px;
    top: 110px;
}
#jCarouselLiteDemo .main {
    margin-left: 40px;
}

#jCarouselLiteDemo .demo em {
    color: #FF3300;
    font-weight: bold;
    font-size: 60%;
    font-style: normal;
}
#jCarouselLiteDemo .carousel button { /*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
    float: left;
}
#jCarouselLiteDemo .carousel a.prev, #jCarouselLiteDemo .carousel a.next {
    display: block;
    float: left;
    width: 30px;
    height: 143px;
    text-decoration: none;
    background: url("/image/imageNavLeft.gif") left 60px no-repeat;
}
#jCarouselLiteDemo .carousel a.next {
    background: url("/image/imageNavRight.gif") right 60px no-repeat;
}
#jCarouselLiteDemo .carousel a.next:hover {
    background-image: url("/image/imageNavRightHover.gif");
}
#jCarouselLiteDemo .carousel a.prev:hover {
    background-image: url("/image/imageNavLeftHover.gif");
}
#jCarouselLiteDemo .carousel a:hover, #jCarouselLiteDemo .carousel a:active {
    border: none;
    outline: none;
}
#jCarouselLiteDemo .carousel .jCarouselLite {
    border: 1px solid black;
    float: left;
    background-color: #dfdfdf;

    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}
#jCarouselLiteDemo .carousel ul {
    margin: 0;
}
#jCarouselLiteDemo .carousel li img,
#jCarouselLiteDemo .carousel li p {
    background-color: #fff;
    width: 150px;
    height: 118px;
    margin: 10px;
}

#jCarouselLiteDemo .widget img {
    cursor: pointer;
}
#jCarouselLiteDemo .mid {
    margin-left: 80px;
    width: 400px;
    height: 300px;
}
#jCarouselLiteDemo .vertical {
    margin-left: 170px;
}
#jCarouselLiteDemo .vertical .jCarouselLite {   /* so that in IE 6, the carousel div doesnt expand to fill the space */
    width: 170px;
}
#jCarouselLiteDemo .imageSlider li img,
#jCarouselLiteDemo .imageSlider li p,
#jCarouselLiteDemo .imageSliderExt li img ,
#jCarouselLiteDemo .imageSliderExt li p {
    width: 400px;
    height: 300px;
}